body {
    font-family: sans-serif;
    background: #000;
    font-size: 12px
}

.wrapper {
    width: 1080px;
    margin: 15px auto;
    height: 2040px;
}

.menu{
    position: fixed;
    margin-left: 90px;
    margin-top: 215px;
}

.menu>li {
    border: 3px solid yellow;
    list-style: none ;
    margin: 20px;
    padding: 26px;
    margin-left: 50px;
    max-width: 200px;
    height: 10px;
    text-align: center;
    list-style: none;
    }


a {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo {
    background: transparent url("https://66.media.tumblr.com/64c7829e257239e786de7ce4fb519b00/tumblr_n3ytiqSL3X1sg0afio1_500.gif") repeat center;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 2px solid yellow;
    margin-bottom: 30px;
}

.content {
    padding: 50px;
    border: 3px solid yellow;
    color: #ffffff;
    word-spacing: 1px;
    line-height: normal;
    clear: both;
    padding-bottom: 50PX;
    width: auto;
    overflow: auto;
}

.img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    width: 500px;
}

.img src {
    padding-bottom: 20px;
}

.name {
    margin-bottom: auto;
    font-size:20px;
}

#jieshao {
    width: 980px;
    float:left;
    padding-top: 10px;
    padding-bottom: 20px;
    
}

.jiugeren {
    max-width: 60%;
    padding-top: 100px;
    
}

.header {
    padding-left: 10px;
    float: right;
    font-size: 5px;
}

.profile {
    text-align: justify;
    font-size: 10px;
    padding-top: 20px;
  
  
}

video {
    width: 85%;
    height: 80%;
    padding-top: 20PX;
}

.ALBUM{
    overflow: auto;
    font-size: 20px;
    color: yellow;
    padding-top: 20px;
}

.name{
    font-weight: 100;
    color: yellow;
    padding-top: 20px;
}
/*<h1>EXO-M</h1>*/
a:active{
    color:blue;
    text-decoration: none;
    background-color: turquoise;
}