body {
    font-family: sans-serif;
    background: #000;
    font-size: 12px
}

.wrapper {
    width: 1080px;
    margin: 15px auto;
}

.menu {
    width: 960px;
    margin: 0px auto;
}

.menu>ul>li {
    border: 3px solid yellow;
    margin: 80px;
    display: inline;
    list-style-type: none;
    float: left;
}

.menu>ul>li>a {
    display: block;
    border: 1px solid #000;
    padding: 20px;
    margin: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

.logo {
    background: transparent url("https://66.media.tumblr.com/64c7829e257239e786de7ce4fb519b00/tumblr_n3ytiqSL3X1sg0afio1_500.gif") repeat center;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 2px solid yellow;
}

.content {
    padding: 50px;
    border: 3px solid yellow;
    color: #ffffff;
    word-spacing: 1px;
    line-height: normal;
    clear: both;
}

.img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    width: 500px;
}

.img src {
    padding-bottom: 20px;
}

.name {
    margin-bottom: auto;
    font-size: 10px;
}

.article {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 10px;
}

.picture-size {
    max-width: 60%;
    padding-top: 30px;
}

.header {
    padding-left: 30px;
}

.profile {
    text-align: justify;
    letter-spacing: 6px;
}